button {
    width: 50vw;
    height: 20vh;
    padding: 0;
    position: absolute;
    border: none;
    font-size: 20px;
}
.r1 {
    top: 0;
}
.r2 {
    top: 20vh;
}
.r3 {
    top: 40vh;
}
.r4 {
    top: 60vh;
}
.c1 {
    left: 0;
}
.c2 {
    right: 0;
}
#info {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    left: 0;
    background-color: #ACF7C1;
    font-size: 30px;
    text-align: center;
}
#stop {
    background-color: #EF7674;
    width: 20vw;
    height: 10vh;
    bottom: 0;
    right: 0;
}
#player {
    width: 100%;
    text-align: center;
}
#player h1 {
    transform: translate(0, -50%);
}
#player audio {
    transform: translate(0, -30%);
}
#player button {
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #6B2737;
    color: #fff;
}